<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
<head> 
<title>listbot.org</title>
<link rel="stylesheet" href="{{ shared_url('listbot_theme::listbot.css') }}"/>
  {{ get_page_metadata() }}
</head>
<body>
<div id="header"><a href="/">
<img src="{{ shared_url('listbot_theme::listbot_grouped.png')}}" class="header"/><span class="tagline">listbot.org</span>
<div id="sub50">[ Sometimes I do maths ]</div></a>
</div>

<div id="meta">
        <div id="about">
    		<h2>About</h2>
    		<img src="{{ shared_url('listbot_theme::james.jpg')}}" class="manga"/><br/>
    		<b>James Polera</b><br/>
    		Husband, father,<br/>
    		programmer.<br/>
    	</div>
        <div class="sidebar">
            <h2>Navigation</h2>
          {{ render_widgets() }}
        </div>
		<div id="reading">
			<h2>Reading</h2>
		    <i><a href="http://oreilly.com/catalog/9780596514556/">Visualizing Data</a></i> by Ben Fry
		</div>
		<div id="elsewhere">
			<h2>Elsewhere</h2>
		    <ul>
				<li><a href="http://twitter.com/uncryptic/">Twitter</a></li>
				<li><a href="http://bitbucket.org/polera/">bitbucket.org</a></li>
				<li><a href="https://github.com/polera/">github.com</a></li>
				<li><a href="http://djangopeople.net/polera/">Django People</a></li>
				<li><a href="http://djangogigs.com/developers/uncryptic-communications/">Djangogigs</a></li>
				<li><a href="http://flickr.com/p0lera/">Flickr</a></li>
				<li><a href="http://delicious.com/polera/">Delicious</a></li>
				<li><a href="http://vimeo.com/polera/">Vimeo</a></li>
			</uL>
		</div>
</div>
<div class="contents">
    {{ emit_event('before-contents-rendered') }}
    {% block contents %}{% endblock %}
    {{ emit_event('after-contents-rendered') }}
</div>
</body>
</html>
